.hide{
  display: none;
}
.calendar-item:hover{
  cursor: pointer;
}
.custom-list {
  height:60px;
  max-height: 60px;
  overflow-y: auto;
}

.custom-list:hover {
  overflow-y: auto;
}
.wrapper td{
  border: 1px solid black;
}
.add-event{
  display: inline-block;
  padding: 5px 10px;
  background-color: #0686f7;
  color: rgb(255, 255, 255) !important;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}
.cal-date{
  font-size: 13px !important;
  font-weight: bold;
}
.select-month-year{
  margin-top: 20px;
  font-size: 15px;
}
#calendar_year{
  margin-bottom: 5px;
}
#calendar_month{
  margin-bottom: 5px;
}
#year-label{
  margin-left: 5px;
  font-weight: 600;
}
#month-label{
  font-weight: 600;
}
#select-month-year-submit{
  margin-left: 5px;
  padding: 4px;
  cursor: pointer;
  background-color: #0686f7;
  color: white;
  border-radius: 5px;
}
#select-month-year-submit:hover{
  background-color:blue;
}
.custom-list{
  list-style-position: inside;
  list-style-type: disc !important; 
}
.ui-dialog{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
    
}
.form-submit{
  display:block;
  margin-top: 15px;
}
.ui-dialog-titlebar{
  text-align: center;
}
.form-input-label{
  margin-left: 5px;
}
.display-edit-form{
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
.panel{
  display:flex;
  margin-top:20px;
  justify-content: space-between;
}
#add-event-header{
  text-align: center;
}
input[type=submit]{
  padding: 8px;
  cursor: pointer;
  background-color: #0686f7;
  color: white;
  border-radius: 5px;
}
input[type=submit]:hover{
  background-color:blue;
}
button[type=submit]{
  padding: 8px;
  cursor: pointer;
  background-color: #b80303;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}
.input-wrap{
  display: flex;
  margin-bottom: 20px;
}
.input-wrap p{
  font-size: 14px;
  width: 25%;
}
.input-wrap input{
  width:75%;
}
.input-wrap select{
  width:75%;
}
.container-month-year{
  display: flex;
}
.tablenav{
  height:4px;
}
.date-wrap{
  display: flex;
  justify-content: space-between;
}
.wrapper th{
  text-align: center;
}
#select-span{
  color:#0686f7;
  margin-left: 7px;
}
#select-span:hover{
  color: blue;
}